<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Navadmin>
            <version>0.1.0</version>
        </Mage_Navadmin>
    </modules>
    <frontend>
        <routers>
            <navadmin>
                <use>standard</use>
                <args>
                    <module>Mage_Navadmin</module>
                    <frontName>navadmin</frontName>
                </args>
            </navadmin>
        </routers>
        <layout>
            <updates>
                <navadmin>
                    <file>navadmin.xml</file>
                </navadmin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<navadmin>
				<use>admin</use>
				<args>
					<module>Mage_Navadmin</module>
					<frontName>navadmin</frontName>
				</args>
			</navadmin>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			 <cms>
				<children>
					<items module="navadmin">
						<title>Menu Manager</title>
						<sort_order>71</sort_order>
						<action>navadmin/adminhtml_navadmin</action>
					</items>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mage_Navadmin>
							<title>Navadmin Module</title>
							<sort_order>10</sort_order>
						</Mage_Navadmin>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<navadmin>
					<file>navadmin.xml</file>
				</navadmin>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <navadmin>
                <class>Mage_Navadmin_Model</class>
                <resourceModel>navadmin_mysql4</resourceModel>
            </navadmin>
            <navadmin_mysql4>
                <class>Mage_Navadmin_Model_Mysql4</class>
                <entities>
                    <navadmin>
                        <table>navadmin</table>
                    </navadmin>
                </entities>
            </navadmin_mysql4>
        </models>
        <resources>
            <navadmin_setup>
                <setup>
                    <module>Mage_Navadmin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </navadmin_setup>
            <navadmin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </navadmin_write>
            <navadmin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </navadmin_read>
        </resources>
        <blocks>
            <navadmin>
                <class>Mage_Navadmin_Block</class>
            </navadmin>
        </blocks>
        <helpers>
            <navadmin>
                <class>Mage_Navadmin_Helper</class>
            </navadmin>
        </helpers>
    </global>
</config>